<div class="container-fluid">
  <h1>Search</h1>
  <input type="text" data-name="searchbox" placeholder="...search" class="form-control pull-left"></input>
    <button data-name="btnEmail" href="mailto:support@thedawie.com:SubJect=Cant find items in list" class="glyphicon glyphicon-envelope btn btn-default" aria-hidden="true" style="display:none;"></button>
  <div class="panel" data-name="searchcontainer">
    
      <div data-name="sItem">
        <button type="button" data-keywords="manual,adjustments" class="btn btn-default" style="width:100%" data-toggle="collapse"
        data-target="#searchitem1">How to do a manual adjustment</button>
          <div id="searchitem1" class="collapse">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
          Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
          </div>
      </div>
      
      <div data-name="sItem">
        <button type="button" data-keywords="manual,adjustments" class="btn btn-default" style="width:100%" data-toggle="collapse"
        data-target="#searchitem2">How to request leave</button>
          <div id="searchitem2" class="collapse">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
          Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
          </div>
      </div>
      
      <div data-name="sItem">
        <button type="button" data-keywords="manual,adjustments" class="btn btn-default" style="width:100%" data-toggle="collapse"
        data-target="#searchitem3">Need to log a call</button>
          <div id="searchitem3" class="collapse">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
          Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
          </div>
      </div>
  </div>
</div>